### Categorical Data

In [9]:
import pandas as pd
import numpy as np

In [5]:
numbers = pd.Series([0, 1, 0, 0] * 2)
fruits = pd.Series(['apple', 'orange'])
fruits.take(numbers)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [25]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
df = pd.DataFrame({'fruit': fruits, 'basket_id': np.arange(N),
                   'count': np.random.randint(3, 15, size=N),
                   'weight': np.random.uniform(0, 4, size=N)},
                  columns=['basket_id', 'fruit', 'count', 'weight'])

df

   basket_id   fruit  count    weight
0          0   apple      8  1.984954
1          1  orange     10  1.247274
2          2   apple      7  0.417177
3          3   apple     11  1.079139
4          4   apple     10  3.250844
5          5  orange     12  1.862200
6          6   apple      7  2.445622
7          7   apple      4  1.604205

In [27]:
fruit_cat = df['fruit'].astype('category')
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

* The special attribute cat provides access to categorical methods:

In [28]:
fruit_cat.cat.codes

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int8

In [16]:
draws = np.random.randint(0,100, 40)
draws

array([46,  8, 45, 32, 87,  3, 73, 31, 96, 76, 42, 12, 66, 98, 77, 89, 39,
       45, 62, 43, 89, 77,  5, 69, 52, 72, 93, 35,  2, 80, 48, 73, 61, 33,
       87, 76, 40, 46, 67, 22])

In [17]:
bins = pd.qcut(draws, 4)
bins

[(38.0, 56.5], (1.999, 38.0], (38.0, 56.5], (1.999, 38.0], (76.25, 98.0], ..., (56.5, 76.25], (38.0, 56.5], (38.0, 56.5], (56.5, 76.25], (1.999, 38.0]]
Length: 40
Categories (4, interval[float64]): [(1.999, 38.0] < (38.0, 56.5] < (56.5, 76.25] < (76.25, 98.0]]

In [18]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins

[Q2, Q1, Q2, Q1, Q4, ..., Q3, Q2, Q2, Q3, Q1]
Length: 40
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [21]:
bins = pd.Series(bins, name='quartile')

results = (pd.Series(draws).groupby(bins).agg(['count', 'min', 'max']).reset_index())
results

  quartile  count  min  max
0       Q1     10    2   35
1       Q2     10   39   52
2       Q3     10   61   76
3       Q4     10   77   98

* The 'quartile' column in the result retains the original categorical information,
including ordering, from bins:

In [23]:
results['quartile']

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

### Creating dummy variables for modeling

In [31]:
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

* the pandas.get_dummies function converts
this one-dimensional categorical data into a DataFrame containing the dummy
variable:

In [33]:
pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1