### Finance

In [3]:
import pandas as pd
import datetime as dt
import pandas_datareader.data as web
start = dt.datetime(2000,1,1)
end = dt.datetime(2016,12,31)

df = web.DataReader("TSLA", "yahoo", start, end)
df.head()

             High        Low       Open      Close    Volume  Adj Close
Date
2010-06-29  25.00  17.540001  19.000000  23.889999  18766300  23.889999
2010-06-30  30.42  23.299999  25.790001  23.830000  17187100  23.830000
2010-07-01  25.92  20.270000  25.000000  21.959999   8218800  21.959999
2010-07-02  23.10  18.709999  23.000000  19.200001   5139800  19.200001
2010-07-06  20.00  15.830000  20.000000  16.110001   6866900  16.110001

### Simple Moving Average (SMA)

It uses a sliding window to take the average over a set number of time periods. It is an equally weighted mean of the previous n data.

In [5]:
df["SMA_3"] = df["Close"].rolling(3).mean()
df.head(10)

,High,Low,Open,Close,Volume,Adj Close,SMA_3
Date,,,,,,,
2010-06-29,25.000000,17.540001,19.000000,23.889999,18766300,23.889999,NaN
2010-06-30,30.420000,23.299999,25.790001,23.830000,17187100,23.830000,NaN
2010-07-01,25.920000,20.270000,25.000000,21.959999,8218800,21.959999,23.226666
2010-07-02,23.100000,18.709999,23.000000,19.200001,5139800,19.200001,21.663333
2010-07-06,20.000000,15.830000,20.000000,16.110001,6866900,16.110001,19.090000
2010-07-07,16.629999,14.980000,16.400000,15.800000,6921700,15.800000,17.036667
2010-07-08,17.520000,15.570000,16.139999,17.459999,7711400,17.459999,16.456667
2010-07-09,17.900000,16.549999,17.580000,17.400000,4050600,17.400000,16.886666
2010-07-12,18.070000,17.000000,17.950001,17.049999,2202500,17.049999,17.303333
2010-07-13,18.639999,16.900000,17.389999,18.139999,2680100,18.139999,17.529999

### Cumulative Moving Average (CMA):

Unlike simple moving average which drops the oldest observation as the new one gets added, cumulative moving average considers all prior observations. CMA is not a very good technique for analyzing trends and smoothing out the data.

In [6]:
df["CMA_3"] = df["Close"].expanding(3).mean()
df.head(10)

,High,Low,Open,Close,Volume,Adj Close,SMA_3,CMA_3
Date,,,,,,,,
2010-06-29,25.000000,17.540001,19.000000,23.889999,18766300,23.889999,NaN,NaN
2010-06-30,30.420000,23.299999,25.790001,23.830000,17187100,23.830000,NaN,NaN
2010-07-01,25.920000,20.270000,25.000000,21.959999,8218800,21.959999,23.226666,23.226666
2010-07-02,23.100000,18.709999,23.000000,19.200001,5139800,19.200001,21.663333,22.220000
2010-07-06,20.000000,15.830000,20.000000,16.110001,6866900,16.110001,19.090000,20.998000
2010-07-07,16.629999,14.980000,16.400000,15.800000,6921700,15.800000,17.036667,20.131667
2010-07-08,17.520000,15.570000,16.139999,17.459999,7711400,17.459999,16.456667,19.750000
2010-07-09,17.900000,16.549999,17.580000,17.400000,4050600,17.400000,16.886666,19.456250
2010-07-12,18.070000,17.000000,17.950001,17.049999,2202500,17.049999,17.303333,19.188889
2010-07-13,18.639999,16.900000,17.389999,18.139999,2680100,18.139999,17.529999,19.084000

### Exponential Moving Average (EMA)

Unlike SMA and CMA, exponential moving average gives more weight to the recent prices and as a result of which, it can be a better model or better capture the movement of the trend in a faster way.

EMA's reaction is directly proportional to the pattern of the data.
Since EMAs give a higher weight on recent data than on older data, they are more responsive to the latest price changes as compared to SMAs, which makes the results from EMAs more timely and hence EMA is more preferred over other techniques.

In [8]:
df["EMA_3"] = df["Close"].ewm(3).mean()
df.head(10)

,High,Low,Open,Close,Volume,Adj Close,SMA_3,CMA_3,EMA_3
Date,,,,,,,,,
2010-06-29,25.000000,17.540001,19.000000,23.889999,18766300,23.889999,NaN,NaN,23.889999
2010-06-30,30.420000,23.299999,25.790001,23.830000,17187100,23.830000,NaN,NaN,23.855714
2010-07-01,25.920000,20.270000,25.000000,21.959999,8218800,21.959999,23.226666,23.226666,23.035945
2010-07-02,23.100000,18.709999,23.000000,19.200001,5139800,19.200001,21.663333,22.220000,21.633086
2010-07-06,20.000000,15.830000,20.000000,16.110001,6866900,16.110001,19.090000,20.998000,19.822702
2010-07-07,16.629999,14.980000,16.400000,15.800000,6921700,15.800000,17.036667,20.131667,18.599284
2010-07-08,17.520000,15.570000,16.139999,17.459999,7711400,17.459999,16.456667,19.750000,18.270587
2010-07-09,17.900000,16.549999,17.580000,17.400000,4050600,17.400000,16.886666,19.456250,18.028727
2010-07-12,18.070000,17.000000,17.950001,17.049999,2202500,17.049999,17.303333,19.188889,17.764182
2010-07-13,18.639999,16.900000,17.389999,18.139999,2680100,18.139999,17.529999,19.084000,17.863743