<a href="https://colab.research.google.com/github/kurtsenol/pandas/blob/master/pandas_text_manipulation_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/yunglinchang/DataScience_playground/master/Pandas/data/TheFruit_sales.csv", index_col=0)
df

              Sales_ID  Sales_Branch  ...       Recent_Sales_Date Customer_Count
0  AU_1382578        !           NaN  ...  2019/12/31 GMT+8 18:00             10
1   TW_8312566       !           NaN  ...  2019/12/31 GMT+8 18:00             27
2   US_2289987       !           NaN  ...  2019/12/29 GMT+8 18:00             12
3   UK_1382574       !           NaN  ...  2019/12/15 GMT+8 05:00              1
4   TW_1382578       !           NaN  ...  2019/12/29 GMT+8 05:00              5
5   AU_1335358       !           NaN  ...  2019/12/31 GMT+8 05:00             10
6   TW_6662597       !           NaN  ...  2019/12/31 GMT+8 15:00              1
7   TW_3352571       !           NaN  ...  2019/12/27 GMT+8 18:00              3
8   US_7683478       !           NaN  ...  2019/12/31 GMT+8 18:00             17
9   US_4523771       !           NaN  ...  2019/12/30 GMT+8 18:00             51

[10 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sales_ID             10 non-null     object
 1   Sales_Branch         0 non-null      float64
 2   Product_Description  10 non-null     object
 3   Recent_Sales_Date    10 non-null     object
 4   Customer_Count       10 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 480.0+ bytes

In [ ]:
df.Sales_ID[:5]

0    AU_1382578        !
1     TW_8312566       !
2     US_2289987       !
3     UK_1382574       !
4     TW_1382578       !
Name: Sales_ID, dtype: object

unnecessary spaces and an exclamation mark for the ID itself

In [ ]:
df.Sales_ID = df.Sales_ID.str.rstrip("!").str.strip()
df.Sales_ID[:5]

0    AU_1382578
1    TW_8312566
2    US_2289987
3    UK_1382574
4    TW_1382578
Name: Sales_ID, dtype: object

In [ ]:
# df["Sales_ID"] = df.Sales_ID.str.rstrip("!").str.strip()

In [ ]:
df.Sales_ID[:5]

0    AU_1382578
1    TW_8312566
2    US_2289987
3    UK_1382574
4    TW_1382578
Name: Sales_ID, dtype: object

Fill 'Sales_Branch' from "Sales_ID" column

In [ ]:
df["Sales_Branch"] = df["Sales_ID"].str[:2]
df["Sales_Branch"]

0    AU
1    TW
2    US
3    UK
4    TW
5    AU
6    TW
7    TW
8    US
9    US
Name: Sales_Branch, dtype: object

In [ ]:
# df['Sales_Branch'] = df["Sales_ID"].str[:2]

In [ ]:
df

     Sales_ID Sales_Branch  ...       Recent_Sales_Date Customer_Count
0  AU_1382578           AU  ...  2019/12/31 GMT+8 18:00             10
1  TW_8312566           TW  ...  2019/12/31 GMT+8 18:00             27
2  US_2289987           US  ...  2019/12/29 GMT+8 18:00             12
3  UK_1382574           UK  ...  2019/12/15 GMT+8 05:00              1
4  TW_1382578           TW  ...  2019/12/29 GMT+8 05:00              5
5  AU_1335358           AU  ...  2019/12/31 GMT+8 05:00             10
6  TW_6662597           TW  ...  2019/12/31 GMT+8 15:00              1
7  TW_3352571           TW  ...  2019/12/27 GMT+8 18:00              3
8  US_7683478           US  ...  2019/12/31 GMT+8 18:00             17
9  US_4523771           US  ...  2019/12/30 GMT+8 18:00             51

[10 rows x 5 columns]

In [ ]:
df['Product_Description'][0]

'The Fruit, a company that sells fruits from all over the world, has branches in Australia, the United Kingdom, the United States, and Taiwan. Product: Apple Mango Banana Watermelon Orange Blueberry Banana Watermelon Kiwifruit'

We can see that while all of the first sentences were identical, we can split this into 2 columns: Description and Product.

In [ ]:
df[['Description', "Product"]] = df['Product_Description'].str.split(" Product: ", expand=True)
df

     Sales_ID  ...                                            Product
0  AU_1382578  ...  Apple Mango Banana Watermelon Orange Blueberry...
1  TW_8312566  ...  Orange Pear Mango Papaya Peach Persimmon Lyche...
2  US_2289987  ...     Apple Orange Blueberry Lemon Cantaloupe Cherry
3  UK_1382574  ...                                         Strawberry
4  TW_1382578  ...  Mango Papaya Watermelon Lychee Guava Grape Longan
5  AU_1335358  ...  Apple Orange Blueberry Mango Banana Watermelon...
6  TW_6662597  ...                           Apple Pomelo Mango Guava
7  TW_3352571  ...       Pomelo Persimmon Roselle Tangerine Pineapple
8  US_7683478  ...                Raspberry Blueberry Pineapple Peach
9  US_4523771  ...                   Blueberry Cherry Pear Blackberry

[10 rows x 7 columns]

In [ ]:
# df[['Description', 'Product']] = df['Product_Description'].str.split("Product: ", expand=True)
df

     Sales_ID  ...                                            Product
0  AU_1382578  ...  Apple Mango Banana Watermelon Orange Blueberry...
1  TW_8312566  ...  Orange Pear Mango Papaya Peach Persimmon Lyche...
2  US_2289987  ...     Apple Orange Blueberry Lemon Cantaloupe Cherry
3  UK_1382574  ...                                         Strawberry
4  TW_1382578  ...  Mango Papaya Watermelon Lychee Guava Grape Longan
5  AU_1335358  ...  Apple Orange Blueberry Mango Banana Watermelon...
6  TW_6662597  ...                           Apple Pomelo Mango Guava
7  TW_3352571  ...       Pomelo Persimmon Roselle Tangerine Pineapple
8  US_7683478  ...                Raspberry Blueberry Pineapple Peach
9  US_4523771  ...                   Blueberry Cherry Pear Blackberry

[10 rows x 7 columns]

sort the list of products in the Product column.

In [ ]:
df["Product"] = df["Product"].str.split().apply(sorted)
df["Product"]

0    [Apple, Banana, Banana, Blueberry, Kiwifruit, ...
1    [Guava, Lychee, Mango, Orange, Papaya, Peach, ...
2    [Apple, Blueberry, Cantaloupe, Cherry, Lemon, ...
3                                         [Strawberry]
4    [Grape, Guava, Longan, Lychee, Mango, Papaya, ...
5    [Apple, Avocado, Banana, Blueberry, Kiwifruit,...
6                        [Apple, Guava, Mango, Pomelo]
7    [Persimmon, Pineapple, Pomelo, Roselle, Tanger...
8             [Blueberry, Peach, Pineapple, Raspberry]
9                [Blackberry, Blueberry, Cherry, Pear]
Name: Product, dtype: object

In [ ]:
df["Product_Count"]= df["Product"].apply(len)
df

     Sales_ID  ... Product_Count
0  AU_1382578  ...             9
1  TW_8312566  ...             8
2  US_2289987  ...             6
3  UK_1382574  ...             1
4  TW_1382578  ...             7
5  AU_1335358  ...             9
6  TW_6662597  ...             4
7  TW_3352571  ...             5
8  US_7683478  ...             4
9  US_4523771  ...             4

[10 rows x 8 columns]

In [ ]:
# df["Product"] =df["Product"].str.split().apply(sorted)

In [ ]:
df["Product"]

0    [Apple, Banana, Banana, Blueberry, Kiwifruit, ...
1    [Guava, Lychee, Mango, Orange, Papaya, Peach, ...
2    [Apple, Blueberry, Cantaloupe, Cherry, Lemon, ...
3                                         [Strawberry]
4    [Grape, Guava, Longan, Lychee, Mango, Papaya, ...
5    [Apple, Avocado, Banana, Blueberry, Kiwifruit,...
6                        [Apple, Guava, Mango, Pomelo]
7    [Persimmon, Pineapple, Pomelo, Roselle, Tanger...
8             [Blueberry, Peach, Pineapple, Raspberry]
9                [Blackberry, Blueberry, Cherry, Pear]
Name: Product, dtype: object

In [ ]:
# df['Product_Count'] = df["Product"].str.len()
df['Product_Count']

0    9
1    8
2    6
3    1
4    7
5    9
6    4
7    5
8    4
9    4
Name: Product_Count, dtype: int64

who sells the most variety of fruits in The Fruit!

In [ ]:
df[df["Product_Count"]==df["Product_Count"].max()]

     Sales_ID  ... Product_Count
0  AU_1382578  ...             9
5  AU_1335358  ...             9

[2 rows x 8 columns]

In [ ]:
# returns first index 
df.loc[df["Product_Count"].idxmax()]

Sales_ID                                                      AU_1382578
Sales_Branch                                                          AU
Product_Description    The Fruit, a company that sells fruits from al...
Recent_Sales_Date                                 2019/12/31 GMT+8 18:00
Customer_Count                                                        10
Description            The Fruit, a company that sells fruits from al...
Product                [Apple, Banana, Banana, Blueberry, Kiwifruit, ...
Product_Count                                                          9
Name: 0, dtype: object

In [ ]:
# df[df['Product_Count']==df['Product_Count'].max()]

Split this column into Product_n

In [ ]:
Products = df['Product'].apply(pd.Series)
Products

            0          1           2  ...           6           7           8
0       Apple     Banana      Banana  ...      Orange  Watermelon  Watermelon
1       Guava     Lychee       Mango  ...        Pear   Persimmon         NaN
2       Apple  Blueberry  Cantaloupe  ...         NaN         NaN         NaN
3  Strawberry        NaN         NaN  ...         NaN         NaN         NaN
4       Grape      Guava      Longan  ...  Watermelon         NaN         NaN
5       Apple    Avocado      Banana  ...      Orange  Stonefruit  Watermelon
6       Apple      Guava       Mango  ...         NaN         NaN         NaN
7   Persimmon  Pineapple      Pomelo  ...         NaN         NaN         NaN
8   Blueberry      Peach   Pineapple  ...         NaN         NaN         NaN
9  Blackberry  Blueberry      Cherry  ...         NaN         NaN         NaN

[10 rows x 9 columns]

In [ ]:
Products.columns = ["Product_"+str(i) for i in range(1,10)]
Products

    Product_1  Product_2   Product_3  ...   Product_7   Product_8   Product_9
0       Apple     Banana      Banana  ...      Orange  Watermelon  Watermelon
1       Guava     Lychee       Mango  ...        Pear   Persimmon         NaN
2       Apple  Blueberry  Cantaloupe  ...         NaN         NaN         NaN
3  Strawberry        NaN         NaN  ...         NaN         NaN         NaN
4       Grape      Guava      Longan  ...  Watermelon         NaN         NaN
5       Apple    Avocado      Banana  ...      Orange  Stonefruit  Watermelon
6       Apple      Guava       Mango  ...         NaN         NaN         NaN
7   Persimmon  Pineapple      Pomelo  ...         NaN         NaN         NaN
8   Blueberry      Peach   Pineapple  ...         NaN         NaN         NaN
9  Blackberry  Blueberry      Cherry  ...         NaN         NaN         NaN

[10 rows x 9 columns]

In [ ]:
df["Product_Description"].str.split(": ", expand=True)[1].str.split(expand=True)

            0          1           2  ...          6           7          8
0       Apple      Mango      Banana  ...     Banana  Watermelon  Kiwifruit
1      Orange       Pear       Mango  ...     Lychee       Guava       None
2       Apple     Orange   Blueberry  ...       None        None       None
3  Strawberry       None        None  ...       None        None       None
4       Mango     Papaya  Watermelon  ...     Longan        None       None
5       Apple     Orange   Blueberry  ...  Kiwifruit  Stonefruit    Avocado
6       Apple     Pomelo       Mango  ...       None        None       None
7      Pomelo  Persimmon     Roselle  ...       None        None       None
8   Raspberry  Blueberry   Pineapple  ...       None        None       None
9   Blueberry     Cherry        Pear  ...       None        None       None

[10 rows x 9 columns]

In [ ]:
# Products = df['Product'].apply(pd.Series)
Products

    Product_1  Product_2   Product_3  ...   Product_7   Product_8   Product_9
0       Apple     Banana      Banana  ...      Orange  Watermelon  Watermelon
1       Guava     Lychee       Mango  ...        Pear   Persimmon         NaN
2       Apple  Blueberry  Cantaloupe  ...         NaN         NaN         NaN
3  Strawberry        NaN         NaN  ...         NaN         NaN         NaN
4       Grape      Guava      Longan  ...  Watermelon         NaN         NaN
5       Apple    Avocado      Banana  ...      Orange  Stonefruit  Watermelon
6       Apple      Guava       Mango  ...         NaN         NaN         NaN
7   Persimmon  Pineapple      Pomelo  ...         NaN         NaN         NaN
8   Blueberry      Peach   Pineapple  ...         NaN         NaN         NaN
9  Blackberry  Blueberry      Cherry  ...         NaN         NaN         NaN

[10 rows x 9 columns]

In [ ]:
# Products.columns = ["Product_"+str(i) for i in range(9)]

In [ ]:
Products

    Product_1  Product_2   Product_3  ...   Product_7   Product_8   Product_9
0       Apple     Banana      Banana  ...      Orange  Watermelon  Watermelon
1       Guava     Lychee       Mango  ...        Pear   Persimmon         NaN
2       Apple  Blueberry  Cantaloupe  ...         NaN         NaN         NaN
3  Strawberry        NaN         NaN  ...         NaN         NaN         NaN
4       Grape      Guava      Longan  ...  Watermelon         NaN         NaN
5       Apple    Avocado      Banana  ...      Orange  Stonefruit  Watermelon
6       Apple      Guava       Mango  ...         NaN         NaN         NaN
7   Persimmon  Pineapple      Pomelo  ...         NaN         NaN         NaN
8   Blueberry      Peach   Pineapple  ...         NaN         NaN         NaN
9  Blackberry  Blueberry      Cherry  ...         NaN         NaN         NaN

[10 rows x 9 columns]

Do one-hot encoding on each product

We are using the original form from the split because we can use whitespace to separate them. (Fill free to try using the list form with a loop!)

In [ ]:
import numpy as np

In [ ]:
unique_fruits = set([item for row in Products.values.tolist() for item in row])
unique_fruits

{'Apple',
 'Avocado',
 'Banana',
 'Blackberry',
 'Blueberry',
 'Cantaloupe',
 'Cherry',
 'Grape',
 'Guava',
 'Kiwifruit',
 'Lemon',
 'Longan',
 'Lychee',
 'Mango',
 'Orange',
 'Papaya',
 'Peach',
 'Pear',
 'Persimmon',
 'Pineapple',
 'Pomelo',
 'Raspberry',
 'Roselle',
 'Stonefruit',
 'Strawberry',
 'Tangerine',
 'Watermelon',
 nan}

In [ ]:
unique_fruits.remove(np.nan)
unique_fruits

{'Apple',
 'Avocado',
 'Banana',
 'Blackberry',
 'Blueberry',
 'Cantaloupe',
 'Cherry',
 'Grape',
 'Guava',
 'Kiwifruit',
 'Lemon',
 'Longan',
 'Lychee',
 'Mango',
 'Orange',
 'Papaya',
 'Peach',
 'Pear',
 'Persimmon',
 'Pineapple',
 'Pomelo',
 'Raspberry',
 'Roselle',
 'Stonefruit',
 'Strawberry',
 'Tangerine',
 'Watermelon'}

In [ ]:
Products_2 = df["Product_Description"].str.split(": ", expand=True)[1]
Products_2

0    Apple Mango Banana Watermelon Orange Blueberry...
1    Orange Pear Mango Papaya Peach Persimmon Lyche...
2       Apple Orange Blueberry Lemon Cantaloupe Cherry
3                                           Strawberry
4    Mango Papaya Watermelon Lychee Guava Grape Longan
5    Apple Orange Blueberry Mango Banana Watermelon...
6                             Apple Pomelo Mango Guava
7         Pomelo Persimmon Roselle Tangerine Pineapple
8                  Raspberry Blueberry Pineapple Peach
9                     Blueberry Cherry Pear Blackberry
Name: 1, dtype: object

In [ ]:
Products_2.str.get_dummies(" ")

   Apple  Avocado  Banana  ...  Strawberry  Tangerine  Watermelon
0      1        0       1  ...           0          0           1
1      0        0       0  ...           0          0           0
2      1        0       0  ...           0          0           0
3      0        0       0  ...           1          0           0
4      0        0       0  ...           0          0           1
5      1        1       1  ...           0          0           1
6      1        0       0  ...           0          0           0
7      0        0       0  ...           0          1           0
8      0        0       0  ...           0          0           0
9      0        0       0  ...           0          0           0

[10 rows x 27 columns]

In [ ]:
# Products2 = df['Product_Description'].str.split(': ', expand=True)[1]
# Products2

In [ ]:
# Products2 = df['Product_Description'].str.split(': ', expand=True)[1].str.get_dummies(' ')
# Products2

turn the Recent_Sales_Date column into a “year-month-day” format.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sales_ID             10 non-null     object
 1   Sales_Branch         10 non-null     object
 2   Product_Description  10 non-null     object
 3   Recent_Sales_Date    10 non-null     object
 4   Customer_Count       10 non-null     int64
 5   Description          10 non-null     object
 6   Product              10 non-null     object
 7   Product_Count        10 non-null     int64
dtypes: int64(2), object(6)
memory usage: 1.0+ KB

In [ ]:
df["Recent_Sales_Date"]= pd.to_datetime(df["Recent_Sales_Date"].str.split(expand=True)[0])
df["Recent_Sales_Date"]

0   2019-12-31
1   2019-12-31
2   2019-12-29
3   2019-12-15
4   2019-12-29
5   2019-12-31
6   2019-12-31
7   2019-12-27
8   2019-12-31
9   2019-12-30
Name: Recent_Sales_Date, dtype: datetime64[ns]

In [ ]:
# df["Recent_Sales_Date"] = pd.to_datetime(df["Recent_Sales_Date"].str.split(expand=True)[0])

In [ ]:
df["Recent_Sales_Date"]

0   2019-12-31
1   2019-12-31
2   2019-12-29
3   2019-12-15
4   2019-12-29
5   2019-12-31
6   2019-12-31
7   2019-12-27
8   2019-12-31
9   2019-12-30
Name: Recent_Sales_Date, dtype: datetime64[ns]

### Pandas with text

In [ ]:
text = ["Developer Wes McKinney started working on pandas in 2008 while at AQR Capital Management out of the need for a high performance, flexible tool to perform quantitative analysis on financial data. Before leaving AQR he was able to convince management to allow him to open source the library."]

In [ ]:
A = pd.Series(text)
A

0    Developer Wes McKinney started working on pand...
dtype: object

In [ ]:
A = A.str.split().explode().reset_index(drop=True)
A

0        Developer
1              Wes
2         McKinney
3          started
4          working
5               on
6           pandas
7               in
8             2008
9            while
10              at
11             AQR
12         Capital
13      Management
14             out
15              of
16             the
17            need
18             for
19               a
20            high
21    performance,
22        flexible
23            tool
24              to
25         perform
26    quantitative
27        analysis
28              on
29       financial
30           data.
31          Before
32         leaving
33             AQR
34              he
35             was
36            able
37              to
38        convince
39      management
40              to
41           allow
42             him
43              to
44            open
45          source
46             the
47        library.
dtype: object

In [ ]:
A = A.str.lower()
A[:5]

0    developer
1          wes
2     mckinney
3      started
4      working
dtype: object

combine all the strings in this series back to its original format

In [ ]:
A.str.cat(sep=" ")

'developer wes mckinney started working on pandas in 2008 while at aqr capital management out of the need for a high performance, flexible tool to perform quantitative analysis on financial data. before leaving aqr he was able to convince management to allow him to open source the library.'

In [ ]:
A.str.count("er")[:5]

0    1
1    0
2    0
3    0
4    0
dtype: int64

In [ ]:
cities = ['New York', 'Rome', 'Madrid', 'Istanbul', 'Rome']
B= pd.Series(cities)
B

0    New York
1        Rome
2      Madrid
3    Istanbul
4        Rome
dtype: object

In [ ]:
B.str.get_dummies()

   Istanbul  Madrid  New York  Rome
0         0       0         1     0
1         0       0         0     1
2         0       1         0     0
3         1       0         0     0
4         0       0         0     1

In [ ]:
cities = [['New York', 'Rome', 'Madrid', 'Istanbul', 'Rome'], ["Paris"], ["Paris", "Rome"]]
C= pd.Series(cities)
C

0    [New York, Rome, Madrid, Istanbul, Rome]
1                                     [Paris]
2                               [Paris, Rome]
dtype: object

In [ ]:
C = C.apply(lambda x: " ".join(x))
C

0    New York Rome Madrid Istanbul Rome
1                                 Paris
2                            Paris Rome
dtype: object

In [ ]:
C = C.str.replace("New York", "NewYork")
C

0    NewYork Rome Madrid Istanbul Rome
1                                Paris
2                           Paris Rome
dtype: object

In [ ]:
C.str.get_dummies(" ")

   Istanbul  Madrid  NewYork  Paris  Rome
0         1       1        1      0     1
1         0       0        0      1     0
2         0       0        0      1     1

In [ ]:
D = pd.read_csv("https://raw.githubusercontent.com/yunglinchang/DataScience_playground/master/Pandas/data/TheFruit_sales.csv", index_col=0)
D

              Sales_ID  Sales_Branch  ...       Recent_Sales_Date Customer_Count
0  AU_1382578        !           NaN  ...  2019/12/31 GMT+8 18:00             10
1   TW_8312566       !           NaN  ...  2019/12/31 GMT+8 18:00             27
2   US_2289987       !           NaN  ...  2019/12/29 GMT+8 18:00             12
3   UK_1382574       !           NaN  ...  2019/12/15 GMT+8 05:00              1
4   TW_1382578       !           NaN  ...  2019/12/29 GMT+8 05:00              5
5   AU_1335358       !           NaN  ...  2019/12/31 GMT+8 05:00             10
6   TW_6662597       !           NaN  ...  2019/12/31 GMT+8 15:00              1
7   TW_3352571       !           NaN  ...  2019/12/27 GMT+8 18:00              3
8   US_7683478       !           NaN  ...  2019/12/31 GMT+8 18:00             17
9   US_4523771       !           NaN  ...  2019/12/30 GMT+8 18:00             51

[10 rows x 5 columns]

In [ ]:
D["Sales_ID"].str.extract(r'([A-Z]+)_(\d+)')

    0        1
0  AU  1382578
1  TW  8312566
2  US  2289987
3  UK  1382574
4  TW  1382578
5  AU  1335358
6  TW  6662597
7  TW  3352571
8  US  7683478
9  US  4523771

### Removing HTML tags

In [ ]:
from bs4 import BeautifulSoup

def strip_html_tags(text):
    soup = BeautifulSoup(text, "html.parser")
    stripped_text = soup.get_text()
    return stripped_text

strip_html_tags('<html><h2>Some important text</h2></html>')

'Some important text'

### Expanding Contractions

In [ ]:
# !git clone https://github.com/dipanjanS/practical-machine-learning-with-python.git

Cloning into 'practical-machine-learning-with-python'...
remote: Enumerating objects: 1446, done.
remote: Total 1446 (delta 0), reused 0 (delta 0), pack-reused 1446
Receiving objects: 100% (1446/1446), 118.41 MiB | 11.39 MiB/s, done.
Resolving deltas: 100% (427/427), done.
Checking out files: 100% (491/491), done.

In [ ]:
# from contractions import CONTRACTION_MAP
# import re

In [ ]:
# def expand_contractions(text, contraction_mapping=CONTRACTION_MAP):
    
#     contractions_pattern = re.compile('({})'.format('|'.join(contraction_mapping.keys())), 
#                                       flags=re.IGNORECASE|re.DOTALL)
#     def expand_match(contraction):
#         match = contraction.group(0)
#         first_char = match[0]
#         expanded_contraction = contraction_mapping.get(match)\
#                                 if contraction_mapping.get(match)\
#                                 else contraction_mapping.get(match.lower())                       
#         expanded_contraction = first_char+expanded_contraction[1:]
#         return expanded_contraction
        
#     expanded_text = contractions_pattern.sub(expand_match, text)
#     expanded_text = re.sub("'", "", expanded_text)
#     return expanded_text

# expand_contractions("Y'all can't expand contractions I'd think")

'You all cannot expand contractions I would think'

### Lemmatization

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [ ]:
def lemmatize_text(text):
    text = nlp(text)
    text = ' '.join([word.lemma_  if word.lemma_ != '-PRON-' else word.text for word in text])
    return text

lemmatize_text("My system keeps crashing! his crashed yesterday, ours crashes daily")

'My system keep crash ! his crash yesterday , ours crash daily'

In [ ]:
text = "My system keeps crashing! his crashed yesterday, ours crashes daily"
text=nlp(text)
[word.lemma_  if word.lemma_ != '-PRON-' else word.text for word in text]

['My',
 'system',
 'keep',
 'crash',
 '!',
 'his',
 'crash',
 'yesterday',
 ',',
 'ours',
 'crash',
 'daily']

In [ ]:
news = "US unveils world's most powerful supercomputer, beats China. The US has unveiled the world's most powerful supercomputer called 'Summit', beating the previous record-holder China's Sunway TaihuLight. With a peak performance of 200,000 trillion calculations per second, it is over twice as fast as Sunway TaihuLight, which is capable of 93,000 trillion calculations per second. Summit has 4,608 servers, which reportedly take up the size of two tennis courts."

In [ ]:
sentence_nlp = nlp(news)

In [ ]:
print([(word, word.ent_type_) for word in sentence_nlp if word.ent_type_])

[(US, 'GPE'), (China, 'GPE'), (US, 'GPE'), (China, 'GPE'), (Sunway, 'ORG'), (TaihuLight, 'ORG'), (200,000, 'QUANTITY'), (trillion, 'QUANTITY'), (second, 'ORDINAL'), (Sunway, 'PERSON'), (TaihuLight, 'PERSON'), (93,000, 'QUANTITY'), (trillion, 'QUANTITY'), (4,608, 'CARDINAL'), (two, 'CARDINAL')]

In [ ]:
print([(word.text, word.label_) for word in sentence_nlp.ents])

[('US', 'GPE'), ('China', 'GPE'), ('US', 'GPE'), ('China', 'GPE'), ('Sunway TaihuLight', 'ORG'), ('200,000 trillion', 'QUANTITY'), ('second', 'ORDINAL'), ('Sunway TaihuLight', 'PERSON'), ('93,000 trillion', 'QUANTITY'), ('4,608', 'CARDINAL'), ('two', 'CARDINAL')]

In [ ]:
Counter([(word.text, word.label_) for word in sentence_nlp.ents])

Counter({('200,000 trillion', 'QUANTITY'): 1,
         ('4,608', 'CARDINAL'): 1,
         ('93,000 trillion', 'QUANTITY'): 1,
         ('China', 'GPE'): 2,
         ('Sunway TaihuLight', 'ORG'): 1,
         ('Sunway TaihuLight', 'PERSON'): 1,
         ('US', 'GPE'): 2,
         ('second', 'ORDINAL'): 1,
         ('two', 'CARDINAL'): 1})

In [ ]:
from collections import Counter

df_ents = pd.DataFrame(Counter([(word.text, word.label_) for word in sentence_nlp.ents]),  index=[0]).T
df_ents

                            0
US                GPE       2
China             GPE       2
Sunway TaihuLight ORG       1
200,000 trillion  QUANTITY  1
second            ORDINAL   1
Sunway TaihuLight PERSON    1
93,000 trillion   QUANTITY  1
4,608             CARDINAL  1
two               CARDINAL  1

In [ ]:
df_ents.index.get_level_values(1)

Index(['GPE', 'GPE', 'ORG', 'QUANTITY', 'ORDINAL', 'PERSON', 'QUANTITY',
       'CARDINAL', 'CARDINAL'],
      dtype='object')

In [ ]:
"20" in "a " +"b" + "0123456789"

False

In [ ]:
import nltk
nltk.download('gutenberg')
nltk.download('punkt')

[nltk_data] Downloading package gutenberg to /root/nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from string import punctuation

remove_terms = punctuation + '0123456789'

norm_bible = [[word.lower() for word in sent if word not in remove_terms] for sent in news]

In [ ]:
norm_bible

[['u'],
 ['s'],
 [' '],
 ['u'],
 ['n'],
 ['v'],
 ['e'],
 ['i'],
 ['l'],
 ['s'],
 [' '],
 ['w'],
 ['o'],
 ['r'],
 ['l'],
 ['d'],
 [],
 ['s'],
 [' '],
 ['m'],
 ['o'],
 ['s'],
 ['t'],
 [' '],
 ['p'],
 ['o'],
 ['w'],
 ['e'],
 ['r'],
 ['f'],
 ['u'],
 ['l'],
 [' '],
 ['s'],
 ['u'],
 ['p'],
 ['e'],
 ['r'],
 ['c'],
 ['o'],
 ['m'],
 ['p'],
 ['u'],
 ['t'],
 ['e'],
 ['r'],
 [],
 [' '],
 ['b'],
 ['e'],
 ['a'],
 ['t'],
 ['s'],
 [' '],
 ['c'],
 ['h'],
 ['i'],
 ['n'],
 ['a'],
 [],
 [' '],
 ['t'],
 ['h'],
 ['e'],
 [' '],
 ['u'],
 ['s'],
 [' '],
 ['h'],
 ['a'],
 ['s'],
 [' '],
 ['u'],
 ['n'],
 ['v'],
 ['e'],
 ['i'],
 ['l'],
 ['e'],
 ['d'],
 [' '],
 ['t'],
 ['h'],
 ['e'],
 [' '],
 ['w'],
 ['o'],
 ['r'],
 ['l'],
 ['d'],
 [],
 ['s'],
 [' '],
 ['m'],
 ['o'],
 ['s'],
 ['t'],
 [' '],
 ['p'],
 ['o'],
 ['w'],
 ['e'],
 ['r'],
 ['f'],
 ['u'],
 ['l'],
 [' '],
 ['s'],
 ['u'],
 ['p'],
 ['e'],
 ['r'],
 ['c'],
 ['o'],
 ['m'],
 ['p'],
 ['u'],
 ['t'],
 ['e'],
 ['r'],
 [' '],
 ['c'],
 ['a'],
 ['l'],
 ['l'],
 ['e'],
 ['d'],
 [' '],
 [],
 ['s'],
 ['u'],
 ['m'],
 ['m'],
 ['i'],
 ['t'],
 [],
 [],
 [' '],
 ['b'],
 ['e'],
 ['a'],
 ['t'],
 ['i'],
 ['n'],
 ['g'],
 [' '],
 ['t'],
 ['h'],
 ['e'],
 [' '],
 ['p'],
 ['r'],
 ['e'],
 ['v'],
 ['i'],
 ['o'],
 ['u'],
 ['s'],
 [' '],
 ['r'],
 ['e'],
 ['c'],
 ['o'],
 ['r'],
 ['d'],
 [],
 ['h'],
 ['o'],
 ['l'],
 ['d'],
 ['e'],
 ['r'],
 [' '],
 ['c'],
 ['h'],
 ['i'],
 ['n'],
 ['a'],
 [],
 ['s'],
 [' '],
 ['s'],
 ['u'],
 ['n'],
 ['w'],
 ['a'],
 ['y'],
 [' '],
 ['t'],
 ['a'],
 ['i'],
 ['h'],
 ['u'],
 ['l'],
 ['i'],
 ['g'],
 ['h'],
 ['t'],
 [],
 [' '],
 ['w'],
 ['i'],
 ['t'],
 ['h'],
 [' '],
 ['a'],
 [' '],
 ['p'],
 ['e'],
 ['a'],
 ['k'],
 [' '],
 ['p'],
 ['e'],
 ['r'],
 ['f'],
 ['o'],
 ['r'],
 ['m'],
 ['a'],
 ['n'],
 ['c'],
 ['e'],
 [' '],
 ['o'],
 ['f'],
 [' '],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [' '],
 ['t'],
 ['r'],
 ['i'],
 ['l'],
 ['l'],
 ['i'],
 ['o'],
 ['n'],
 [' '],
 ['c'],
 ['a'],
 ['l'],
 ['c'],
 ['u'],
 ['l'],
 ['a'],
 ['t'],
 ['i'],
 ['o'],
 ['n'],
 ['s'],
 [' '],
 ['p'],
 ['e'],
 ['r'],
 [' '],
 ['s'],
 ['e'],
 ['c'],
 ['o'],
 ['n'],
 ['d'],
 [],
 [' '],
 ['i'],
 ['t'],
 [' '],
 ['i'],
 ['s'],
 [' '],
 ['o'],
 ['v'],
 ['e'],
 ['r'],
 [' '],
 ['t'],
 ['w'],
 ['i'],
 ['c'],
 ['e'],
 [' '],
 ['a'],
 ['s'],
 [' '],
 ['f'],
 ['a'],
 ['s'],
 ['t'],
 [' '],
 ['a'],
 ['s'],
 [' '],
 ['s'],
 ['u'],
 ['n'],
 ['w'],
 ['a'],
 ['y'],
 [' '],
 ['t'],
 ['a'],
 ['i'],
 ['h'],
 ['u'],
 ['l'],
 ['i'],
 ['g'],
 ['h'],
 ['t'],
 [],
 [' '],
 ['w'],
 ['h'],
 ['i'],
 ['c'],
 ['h'],
 [' '],
 ['i'],
 ['s'],
 [' '],
 ['c'],
 ['a'],
 ['p'],
 ['a'],
 ['b'],
 ['l'],
 ['e'],
 [' '],
 ['o'],
 ['f'],
 [' '],
 [],
 [],
 [],
 [],
 [],
 [],
 [' '],
 ['t'],
 ['r'],
 ['i'],
 ['l'],
 ['l'],
 ['i'],
 ['o'],
 ['n'],
 [' '],
 ['c'],
 ['a'],
 ['l'],
 ['c'],
 ['u'],
 ['l'],
 ['a'],
 ['t'],
 ['i'],
 ['o'],
 ['n'],
 ['s'],
 [' '],
 ['p'],
 ['e'],
 ['r'],
 [' '],
 ['s'],
 ['e'],
 ['c'],
 ['o'],
 ['n'],
 ['d'],
 [],
 [' '],
 ['s'],
 ['u'],
 ['m'],
 ['m'],
 ['i'],
 ['t'],
 [' '],
 ['h'],
 ['a'],
 ['s'],
 [' '],
 [],
 [],
 [],
 [],
 [],
 [' '],
 ['s'],
 ['e'],
 ['r'],
 ['v'],
 ['e'],
 ['r'],
 ['s'],
 [],
 [' '],
 ['w'],
 ['h'],
 ['i'],
 ['c'],
 ['h'],
 [' '],
 ['r'],
 ['e'],
 ['p'],
 ['o'],
 ['r'],
 ['t'],
 ['e'],
 ['d'],
 ['l'],
 ['y'],
 [' '],
 ['t'],
 ['a'],
 ['k'],
 ['e'],
 [' '],
 ['u'],
 ['p'],
 [' '],
 ['t'],
 ['h'],
 ['e'],
 [' '],
 ['s'],
 ['i'],
 ['z'],
 ['e'],
 [' '],
 ['o'],
 ['f'],
 [' '],
 ['t'],
 ['w'],
 ['o'],
 [' '],
 ['t'],
 ['e'],
 ['n'],
 ['n'],
 ['i'],
 ['s'],
 [' '],
 ['c'],
 ['o'],
 ['u'],
 ['r'],
 ['t'],
 ['s'],
 []]