<a href="https://colab.research.google.com/github/kurtsenol/pandas/blob/master/WebScraping/webscraping_selenium_asp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WEB SCRAPING

In [ ]:
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')


user_agent = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.50 Safari/537.36'
chrome_options.add_argument(f'user-agent={user_agent}')


wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Requirement already satisfied: selenium in /usr/local/lib/python3.6/dist-packages (3.141.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium) (1.24.3)
Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Fetched 163 kB in 2s (88.2 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (85.0.4183.83-0ubuntu0.18.04.2).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 77 not upgraded.
cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: DeprecationWarning: use options instead of chrome_options

In [ ]:
### FIND ELEMENTS

# h1 = driver.find_element_by_name('h1')
# h1 = driver.find_element_by_class_name('someclass')
# h1 = driver.find_element_by_xpath('//h1')
# h1 = driver.find_element_by_id('greatID')

# all_links = driver.find_elements_by_tag_name('a')

In [ ]:
### WebElement

# driver.get("https://news.ycombinator.com/login")

# login = driver.find_element_by_xpath("//input").send_keys(USERNAME)
# password = driver.find_element_by_xpath("//input[@type='password']").send_keys(PASSWORD)
# submit = driver.find_element_by_xpath("//input[@value='login']").click()

In [ ]:
### Taking a screenshot

# driver.save_screenshot('screenshot.png')

In [ ]:
### Executing Javascript

# javaScript = "window.scrollBy(0,1000);"
# driver.execute_script(javaScript)

In [ ]:
### Waiting for an element to be present

# try:
#     element = WebDriverWait(driver, 5).until(
#         EC.presence_of_element_located((By.ID, "mySuperId"))
#     )
# finally:
#     driver.quit()

In [ ]:
import time
import pandas as pd
import numpy as np
import math

In [ ]:
url="http://cels.baltimorehousing.org/reg/Reg_MFD_Search.aspx"

In [ ]:
df_final_1 = pd.read_csv("/content/drive/My Drive/Output/house_final_1.csv")

In [ ]:
df_final_1

         Reg#   Date Insp License Print  ...              Address    Zip  Block Lot
0        1341         NaN           NaN  ...       1209 E 43RD ST  21239   5208-005
1       80460         NaN           NaN  ...       1201 E 43RD ST  21239   5208-001
2      501011  12/28/2018           NaN  ...       1205 E 43RD ST  21239   5208-003
3      933880  05/09/2020    05/12/2020  ...       1105 E 43RD ST  21239  5207-001B
4      934891  05/09/2020    05/12/2020  ...       1103 E 43RD ST  21239  5207-001A
...       ...         ...           ...  ...                  ...    ...        ...
13896   86412         NaN           NaN  ...  3037 HUNTINGDON AVE  21211  3664B-009
13897   92766         NaN           NaN  ...  2930 HUNTINGDON AVE  21211   3653-055
13898   93097  12/11/2018    12/19/2018  ...  2926 HUNTINGDON AVE  21211   3653-057
13899   93895  09/13/2018    12/19/2018  ...  2940 HUNTINGDON AVE  21211   3653-050
13900   86338  12/21/2018    01/05/2019  ...  2656 HUNTINGDON AVE  21211  3630A-088

[13901 rows x 9 columns]

In [ ]:
first_tuple = [(i, df_final_1[df_final_1["Zip"]==i].shape[0]) for i in df_final_1.Zip.unique()]

In [ ]:
first_tuple

[(21239, 1020),
 (21231, 2020),
 (21214, 1220),
 (21202, 2220),
 (21205, 3020),
 (21206, 2620),
 (21209, 347),
 (21210, 354),
 (21211, 1080)]

In [ ]:
# zip_list=[21278, 21233, 21235, 21239, 21241, 21251, 21263, 21264, 21270, 21273, 21275, 21231, 21279, 21280, 21281, 21287, 21288, 21289, 21290, 21297, 21298, 21214, 21202, 21203, 21205, 21206, 21209, 21210, 21211, 21212, 21213, 21201, 21215, 21216, 21217, 21218, 21223, 21224, 21229, 21230, 21225]

In [ ]:
# zip_list=[21212, 21213, 21201, 21215, 21216, 21217, 21218, 21223, 21224, 21229, 21230, 21225]

In [ ]:
zip_list=[21212, 21213, 21201]

In [ ]:
# tbl = wd.find_element_by_xpath('//*[@id="ContentPlaceHolder1_gvInspHistory"]').get_attribute('outerHTML')

# df  = pd.read_html(tbl)

In [ ]:
# df_final = df_final_1.copy()

In [ ]:
# df_final

In [ ]:
for zipcode in zip_list:
  df_final = pd.DataFrame()
  wd.get(url)
  wd.find_element_by_xpath('//*[@id="ContentPlaceHolder1_ckZip"]').click()
  wd.find_element_by_xpath('//*[@id="ContentPlaceHolder1_txtZip5"]').send_keys(str(zipcode))
  wd.find_element_by_xpath('//*[@id="ContentPlaceHolder1_btSearch"]').click()
  time.sleep(10)
  count = wd.find_element_by_xpath('//*[@id="ContentPlaceHolder1_lbCount"]').text
  count_no=count[13:]

  if count_no=="0":
    continue
  else:
    page=math.ceil(int(count_no)/20)
    page_ten = math.ceil(page/10)

    tbl = wd.find_element_by_xpath('//*[@id="ContentPlaceHolder1_gvInspHistory"]').get_attribute('outerHTML')
    table_list  = pd.read_html(tbl)
    df = table_list[0]

    df=df.iloc[2:-2, 1:10]

    df.columns = df.iloc[0]
    df.drop(2, inplace=True)

    df_final = pd.concat([df_final, df], ignore_index=True)

    for i in range(page_ten):
        if i==0:
            for j in range(2,12):
                try:
                    wd.find_element_by_xpath(f'//*[@id="ContentPlaceHolder1_gvInspHistory"]/tbody/tr[1]/td/table/tbody/tr/td[{j}]/a').click()
                    
                    time.sleep(2)
                    tbl = wd.find_element_by_xpath('//*[@id="ContentPlaceHolder1_gvInspHistory"]').get_attribute('outerHTML')
                    table_list  = pd.read_html(tbl)
                    
                    df = table_list[0]
                    df=df.iloc[2:-2, 1:10]
                    df.columns = df.iloc[0]
                    df.drop(2, inplace=True)
                    df_final = pd.concat([df_final, df], ignore_index=True)
                except:
                  print("error")
            continue  
        elif page_ten-1>i>0:
          for j in range(3,13):
            try:
                wd.find_element_by_xpath(f'//*[@id="ContentPlaceHolder1_gvInspHistory"]/tbody/tr[1]/td/table/tbody/tr/td[{j}]/a').click()

                time.sleep(2)

                tbl = wd.find_element_by_xpath('//*[@id="ContentPlaceHolder1_gvInspHistory"]').get_attribute('outerHTML')
                table_list  = pd.read_html(tbl)
                    
                df = table_list[0]
                df=df.iloc[2:-2, 1:10]
                df.columns = df.iloc[0]
                df.drop(2, inplace=True)

                df_final = pd.concat([df_final, df], ignore_index=True)
            except:
              print("error")
          
        elif i==page_ten-1:
          x = 10-(page%10)+3

          for j in range(x,12):
            try:
                wd.find_element_by_xpath(f'//*[@id="ContentPlaceHolder1_gvInspHistory"]/tbody/tr[1]/td/table/tbody/tr/td[{j}]/a').click()

                time.sleep(2)

                tbl = wd.find_element_by_xpath('//*[@id="ContentPlaceHolder1_gvInspHistory"]').get_attribute('outerHTML')
                table_list  = pd.read_html(tbl)
                    
                df = table_list[0]
                df=df.iloc[2:-2, 1:10]
                df.columns = df.iloc[0]
                df.drop(2, inplace=True)

                df_final = pd.concat([df_final, df], ignore_index=True)
            except:
              print("error")
              
  path = "/content/drive/My Drive/Output/house_final_" + str(zipcode) +".csv"
  df_final.to_csv(path, index=False)

In [ ]:
df_final

2       Reg#   Date Insp  ...    Zip   Block Lot
0     101745         NaN  ...  21201   2454 -059
1     204700         NaN  ...  21201  5198 -079A
2     099442  08/29/2018  ...  21201    0868-080
3     066212         NaN  ...  21201    0868-074
4     078628  02/18/2019  ...  21201    0868-079
...      ...         ...  ...    ...         ...
1484  034218         NaN  ...  21201    0571-026
1485  029741  11/11/2019  ...  21201    0571-013
1486  021993  08/23/2018  ...  21201    0571-036
1487  061525         NaN  ...  21201    0571-039
1488  082029  11/22/2019  ...  21201    0571-032

[1489 rows x 9 columns]

In [ ]:
df_final.to_csv("/content/drive/My Drive/Output/house_final.csv", index=False)



```
function ClickConnect(){
console.log("Working"); 
document
  .querySelector('#top-toolbar > colab-connect-button')
  .shadowRoot.querySelector('#connect')
  .click() 
}
setInterval(ClickConnect,60000)
```

In [ ]:
import os
import pandas as pd

In [ ]:
folder_path="/content/drive/My Drive/Output/"
folder = os.listdir(folder_path)

In [ ]:
df = pd.DataFrame()
for file in folder:
  df_temp= pd.read_csv(os.path.join(folder_path, file))
  df = pd.concat([df, df_temp], ignore_index=True)

In [ ]:
df

         Reg#   Date Insp License Print  ...            Address    Zip  Block Lot
0        1341         NaN           NaN  ...     1209 E 43RD ST  21239   5208-005
1       80460         NaN           NaN  ...     1201 E 43RD ST  21239   5208-001
2      501011  12/28/2018           NaN  ...     1205 E 43RD ST  21239   5208-003
3      933880  05/09/2020    05/12/2020  ...     1105 E 43RD ST  21239  5207-001B
4      934891  05/09/2020    05/12/2020  ...     1103 E 43RD ST  21239  5207-001A
...       ...         ...           ...  ...                ...    ...        ...
75653   64202  08/12/2018           NaN  ...       514 UMBRA ST  21224  6629C-052
75654   59864  10/22/2018    02/19/2019  ...       724 UMBRA ST  21224  6694E-051
75655   39188         NaN           NaN  ...       605 UMBRA ST  21224  6629D-017
75656   56138         NaN           NaN  ...  2211 VAN DEMAN ST  21224  6923 -010
75657   90715         NaN           NaN  ...       1303 WISE CT  21224  6491-051B

[75658 rows x 9 columns]

In [ ]:
df.to_csv("/content/drive/My Drive/Output/house_final.csv", index=False)