<a href="https://colab.research.google.com/github/kurtsenol/pandas/blob/master/WebScraping/webscraping_pdf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WEB SCRAPING

In [ ]:
import pandas as pd
import re

In [ ]:
pip install camelot-py[cv]

Collecting camelot-py[cv]
  Downloading https://files.pythonhosted.org/packages/ed/78/123007d6aff9811bd087ff5dd68e06a9df62b2fdbf7685d74c9d6f247921/camelot_py-0.8.2-py3-none-any.whl (42kB)
     |████████████████████████████████| 51kB 1.6MB/s
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (7.1.2)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (2.5.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (1.18.5)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (1.0.5)
Collecting PyPDF2>=1.26.0
  Downloading https://files.pythonhosted.org/packages/b4/01/68fcc0d43daf4c6bdbc6b33cc3f77bda531c86b174cac56ef0ffdb96faab/PyPDF2-1.26.0.tar.gz (77kB)
     |████████████████████████████████| 81kB 3.8MB/s
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (3.0.4)
Collecting pdfminer.six>=20200726
  Downloading https://files.pythonhosted.org/packages/98/12/ab5ebafc4cb2b49847de7bfc26f2d152f42a4af136263152d070c61dfd7d/pdfminer.six-20200726-py3-none-any.whl (5.6MB)
     |████████████████████████████████| 5.6MB 7.4MB/s
Requirement already satisfied: opencv-python>=3.4.2.17; extra == "cv" in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (4.1.2.30)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.0.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2018.9)
Collecting cryptography
  Downloading https://files.pythonhosted.org/packages/c0/9c/647e559a6e8be493dc2a7a5d15d26cb501ca60ec299b356f23839a673a83/cryptography-3.1-cp35-abi3-manylinux2010_x86_64.whl (2.6MB)
     |████████████████████████████████| 2.6MB 43.1MB/s
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.6/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]) (2.2.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.23.4->camelot-py[cv]) (1.15.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography->pdfminer.six>=20200726->camelot-py[cv]) (1.14.2)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography->pdfminer.six>=20200726->camelot-py[cv]) (2.20)
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py) ... done
  Created wheel for PyPDF2: filename=PyPDF2-1.26.0-cp36-none-any.whl size=61086 sha256=3eb3f6ccc6f584a175062d135b91d1b746e3d1ef077c755a6a782c83c089f2b9
  Stored in directory: /root/.cache/pip/wheels/53/84/19/35bc977c8bf5f0c23a8a011aa958acd4da4bbd7a229315c1b7
Successfully built PyPDF2
Installing collected packages: PyPDF2, cryptography, pdfminer.six, camelot-py
Successfully installed PyPDF2-1.26.0 camelot-py-0.8.2 cryptography-3.1 pdfminer.six-20200726

In [ ]:
!apt install python3-tk ghostscript

Reading package lists... Done
Building dependency tree
Reading state information... Done
python3-tk is already the newest version (3.6.9-1~18.04).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  fonts-droid-fallback fonts-noto-mono gsfonts libcupsfilters1 libcupsimage2
  libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
Suggested packages:
  fonts-noto ghostscript-x poppler-utils fonts-japanese-mincho
  | fonts-ipafont-mincho fonts-japanese-gothic | fonts-ipafont-gothic
  fonts-arphic-ukai fonts-arphic-uming fonts-nanum
The following NEW packages will be installed:
  fonts-droid-fallback fonts-noto-mono ghostscript gsfonts libcupsfilters1
  libcupsimage2 libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
0 upgraded, 11 newly installed, 0 to remove and 39 not upgraded.
Need to get 14.1 MB of archives.
After this operation, 49.9 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-noto-mono all 20171026-2 [75.5 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.8 [18.6 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libijs-0.35 amd64 0.35-13 [15.5 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjbig2dec0 amd64 0.13-6 [55.9 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9-common all 9.26~dfsg+0-0ubuntu0.18.04.13 [5,092 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9 amd64 9.26~dfsg+0-0ubuntu0.18.04.13 [2,263 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ghostscript amd64 9.26~dfsg+0-0ubuntu0.18.04.13 [51.0 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 gsfonts all 1:8.11+urwcyr1.0.7~pre44-4.4 [3,120 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsfilters1 amd64 1.20.2-0ubuntu3.1 [108 kB]
Fetched 14.1 MB in 1s (10.9 MB/s)
Selecting previously unselected package fonts-droid-fallback.
(Reading database ... 144579 files and directories currently installed.)
Preparing to unpack .../00-fonts-droid-fallback_1%3a6.0.1r16-1.1_all.deb ...
Unpacking fonts-droid-fallback (1:6.0.1r16-1.1) ...
Selecting previously unselected package poppler-data.
Preparing to unpack .../01-poppler-data_0.4.8-2_all.deb ...
Unpacking poppler-data (0.4.8-2) ...
Selecting previously unselected package fonts-noto-mono.
Preparing to unpack .../02-fonts-noto-mono_20171026-2_all.deb ...
Unpacking fonts-noto-mono (20171026-2) ...
Selecting previously unselected package libcupsimage2:amd64.
Preparing to unpack .../03-libcupsimage2_2.2.7-1ubuntu2.8_amd64.deb ...
Unpacking libcupsimage2:amd64 (2.2.7-1ubuntu2.8) ...
Selecting previously unselected package libijs-0.35:amd64.
Preparing to unpack .../04-libijs-0.35_0.35-13_amd64.deb ...
Unpacking libijs-0.35:amd64 (0.35-13) ...
Selecting previously unselected package libjbig2dec0:amd64.
Preparing to unpack .../05-libjbig2dec0_0.13-6_amd64.deb ...
Unpacking libjbig2dec0:amd64 (0.13-6) ...
Selecting previously unselected package libgs9-common.
Preparing to unpack .../06-libgs9-common_9.26~dfsg+0-0ubuntu0.18.04.13_all.deb ...
Unpacking libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.13) ...
Selecting previously unselected package libgs9:amd64.
Preparing to unpack .../07-libgs9_9.26~dfsg+0-0ubuntu0.18.04.13_amd64.deb ...
Unpacking libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.13) ...
Selecting previously unselected package ghostscript.
Preparing to unpack .../08-ghostscript_9.26~dfsg+0-0ubuntu0.18.04.13_amd64.deb ...
Unpacking ghostscript (9.26~dfsg+0-0ubuntu0.18.04.13) ...
Selecting previously unselected package gsfonts.
Preparing to unpack .../09-gsfonts_1%3a8.11+urwcyr1.0.7~pre44-4.4_all.deb ...
Unpacking gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Selecting previously unselected package libcupsfilters1:amd64.
Preparing to unpack .../10-libcupsfilters1_1.20.2-0ubuntu3.1_amd64.deb ...
Unpacking libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.13) ...
Setting up fonts-droid-fallback (1:6.0.1r16-1.1) ...
Setting up gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Setting up poppler-data (0.4.8-2) ...
Setting up fonts-noto-mono (20171026-2) ...
Setting up libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libcupsimage2:amd64 (2.2.7-1ubuntu2.8) ...
Setting up libjbig2dec0:amd64 (0.13-6) ...
Setting up libijs-0.35:amd64 (0.35-13) ...
Setting up libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.13) ...
Setting up ghostscript (9.26~dfsg+0-0ubuntu0.18.04.13) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [ ]:
import camelot

file = 'http://www.airindia.in/images/pdf/Evacuation-Flight-Schedule-Phase-6-Sheet-A-updated.pdf'
 
tables = camelot.read_pdf(file, pages = "1-end")

In [ ]:
tables[0].df

         0                 1  ...               6             7
0   S \nNo  DEPARTURE \nDATE  ...  ARRIVAL \nTIME  ARRIVAL DATE
1        1         01-Sep-20  ...           07:15     01-Sep-20
2        2         01-Sep-20  ...           13:45     01-Sep-20
3        3         01-Sep-20  ...           14:30     01-Sep-20
4        4         02-Sep-20  ...           07:15     02-Sep-20
5        5         02-Sep-20  ...           07:00     02-Sep-20
6        6         02-Sep-20  ...           11:45     02-Sep-20
7        7         02-Sep-20  ...           20:20     02-Sep-20
8        8         02-Sep-20  ...           07:20     03-Sep-20
9        9         02-Sep-20  ...           07:00     03-Sep-20
10      10         03-Sep-20  ...           02:30     03-Sep-20
11      11         03-Sep-20  ...           07:15     03-Sep-20
12      12         03-Sep-20  ...           08:55     03-Sep-20
13      13         03-Sep-20  ...           13:45     03-Sep-20
14      14         03-Sep-20  ...           12:05     03-Sep-20
15      15         03-Sep-20  ...           17:00     03-Sep-20
16      16         04-Sep-20  ...           07:00     04-Sep-20

[17 rows x 8 columns]

In [ ]:
df = pd.DataFrame()

for i in range(len(tables)):
  df_temp = tables[i].df
  df_temp.columns = [re.sub("\n", "", col) for col in df_temp.iloc[0]]   
  df_temp.drop(0, inplace=True)
  df= pd.concat([df, df_temp], ignore_index=True)

In [ ]:
df

    S No DEPARTURE DATE    FLIGHT  ... ARRIVAL STATION ARRIVAL TIME ARRIVAL DATE
0      1      01-Sep-20  AI  0187  ...         TORONTO        07:15    01-Sep-20
1      2      01-Sep-20  AI  0334  ...         BANGKOK        13:45    01-Sep-20
2      3      01-Sep-20  AI  0991  ...          JEDDAH        14:30    01-Sep-20
3      4      02-Sep-20  AI  0187  ...         TORONTO        07:15    02-Sep-20
4      5      02-Sep-20  AI  1143  ...       VANCOUVER        07:00    02-Sep-20
..   ...            ...       ...  ...             ...          ...          ...
423  239      20-Oct-20  AI  0188  ...           DELHI        12:15    21-Oct-20
424  240      21-Oct-20  AI  1144  ...           DELHI        14:45    22-Oct-20
425  241      22-Oct-20  AI  0188  ...           DELHI        12:15    23-Oct-20
426  242      23-Oct-20  AI  1144  ...           DELHI        14:45    24-Oct-20
427  243      24-Oct-20  AI  0188  ...           DELHI        12:15    25-Oct-20

[428 rows x 8 columns]

In [ ]:
# # export all tables at once to CSV files
# tables.export("/content/drive/My Drive/data_deneme/camelot_tables.csv", f = "csv")

In [ ]:
# DATA_PATH = '/content/drive/My Drive/data_deneme/'

In [ ]:
# folder = os.listdir(DATA_PATH)

# df = pd.DataFrame()

# for file_name in folder:
#   if file_name.endswith("csv"):
#     df_temp= pd.read_csv(os.path.join(DATA_PATH, file_name),
#                         dtype='unicode', error_bad_lines=False, engine='python')
#     df_temp.columns = [re.sub("\n", "", col) for col in qw.columns]
#     df= pd.concat([df, df_temp], ignore_index=True)

In [ ]:
df

    S No DEPARTURE DATE    FLIGHT  ... ARRIVAL STATION ARRIVAL TIME ARRIVAL DATE
0      1      01-Sep-20  AI  0187  ...         TORONTO        07:15    01-Sep-20
1      2      01-Sep-20  AI  0334  ...         BANGKOK        13:45    01-Sep-20
2      3      01-Sep-20  AI  0991  ...          JEDDAH        14:30    01-Sep-20
3      4      02-Sep-20  AI  0187  ...         TORONTO        07:15    02-Sep-20
4      5      02-Sep-20  AI  1143  ...       VANCOUVER        07:00    02-Sep-20
..   ...            ...       ...  ...             ...          ...          ...
423  239      20-Oct-20  AI  0188  ...           DELHI        12:15    21-Oct-20
424  240      21-Oct-20  AI  1144  ...           DELHI        14:45    22-Oct-20
425  241      22-Oct-20  AI  0188  ...           DELHI        12:15    23-Oct-20
426  242      23-Oct-20  AI  1144  ...           DELHI        14:45    24-Oct-20
427  243      24-Oct-20  AI  0188  ...           DELHI        12:15    25-Oct-20

[428 rows x 8 columns]

In [ ]:
output_path = "/content/drive/My Drive/Output"

In [ ]:
df.to_csv(output_path + "schedules.csv", index=False)

In [ ]:
df= pd.read_csv(output_path + "schedules.csv")

In [ ]:
df

     S No DEPARTURE DATE    FLIGHT  ... ARRIVAL STATION ARRIVAL TIME ARRIVAL DATE
0       1      01-Sep-20  AI  0187  ...         TORONTO        07:15    01-Sep-20
1       2      01-Sep-20  AI  0334  ...         BANGKOK        13:45    01-Sep-20
2       3      01-Sep-20  AI  0991  ...          JEDDAH        14:30    01-Sep-20
3       4      02-Sep-20  AI  0187  ...         TORONTO        07:15    02-Sep-20
4       5      02-Sep-20  AI  1143  ...       VANCOUVER        07:00    02-Sep-20
..    ...            ...       ...  ...             ...          ...          ...
423   239      20-Oct-20  AI  0188  ...           DELHI        12:15    21-Oct-20
424   240      21-Oct-20  AI  1144  ...           DELHI        14:45    22-Oct-20
425   241      22-Oct-20  AI  0188  ...           DELHI        12:15    23-Oct-20
426   242      23-Oct-20  AI  1144  ...           DELHI        14:45    24-Oct-20
427   243      24-Oct-20  AI  0188  ...           DELHI        12:15    25-Oct-20

[428 rows x 8 columns]

In [ ]:
def download(path):
  from google.colab import files
  files.download(path)

In [ ]:
# download(output_path + "schedules.csv")

In [ ]:
df.columns.tolist()

['S No',
 'DEPARTURE DATE',
 'FLIGHT',
 'DEPARTURE STATION',
 'DEPARTURE TIME',
 'ARRIVAL STATION',
 'ARRIVAL TIME',
 'ARRIVAL DATE']

In [ ]:
!python3 -m pip install PyMySQL

Collecting PyMySQL
  Downloading https://files.pythonhosted.org/packages/1a/ea/dd9c81e2d85efd03cfbf808736dd055bd9ea1a78aea9968888b1055c3263/PyMySQL-0.10.1-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 1.5MB/s
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.10.1

In [ ]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='192.168.0.14',
                             user='root',
                             password='SqlAdmin',
                             db='sakila',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

OperationalError: ignored

In [ ]:
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install mysqlclient

In [ ]:
MYSQL_HOSTNAME = '192.168.0.14:3306' 
MYSQL_USER = 'root'
MYSQL_PASSWORD = 'SqlAdmin'
MYSQL_DATABASE = 'sakila'

connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'

In [ ]:
MYSQL_HOSTNAME = '192.168.0.14:3306' 
MYSQL_USER = 'root'
MYSQL_PASSWORD = 'SqlAdmin'
MYSQL_DATABASE = 'sakila'

connection_string = 'mysql+mysqldb://root:SqlAdmin@192.168.0.14:3306/sakila'

In [ ]:
import pandas as pd
import sqlalchemy as sql

sql_engine = sql.create_engine(connection_string)

In [ ]:
sql_engine

In [ ]:
query = """SELECT * FROM actor;"""

events_df = pd.read_sql(query, con=sql_engine)

In [ ]:
!pip install mysqlclient

Collecting mysqlclient
  Using cached https://files.pythonhosted.org/packages/a5/e1/e5f2b231c05dc51d9d87fa5066f90d1405345c54b14b0b11a1c859020f21/mysqlclient-2.0.1.tar.gz
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

In [ ]:
import MySQLdb

ModuleNotFoundError: ignored